//color fondo
$colorUno: rgb(188, 216, 192);
//color navbar
$colorDos: rgb(63, 143, 111);
//color menu
$colorTres: rgb(147, 190, 72);
//color letra navbar
$colorCuatro: rgb(231, 231, 231);
//color letra fuera de navbar
$colorCinco: rgb(60, 60, 60);
//color letra navbar
$colorSeis: rgb(154, 184, 161);
//color menu hover
$colorSiete: rgb(116, 150, 61);